<section class="container">
  <h3>Hey there, your IP seems to be</h3>

  <blockquote>
    <p><em>
      <%= @prop.to_html %>
    </em></p>
  </blockquote>
</section>

<section class="container">
  <a class="button" href="/text">Plain Text</a>
  <a class="button" href="/json">JSON</a>
</section>
