<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
  <meta name="robots" content="index, nofollow">
  <meta name="description" content="minimalistic get your ip service">
  <title>ip.enten.space</title>
  <link rel="stylesheet" href="/milligram.min.css">
</head>
<body>
  <%= yield %>
</body>
</html>
